<div class="container">
  <div class="b-logo">
    <img src="assets/logo.png" alt="LOGO">
  </div>
  <div class="b-name">
    مدونتي
  </div>
  <div class="b-desc">
    مدونة تهتم بالعلوم التقنية وتكنولوجيا المعلومات
  </div>
  <div class="btn-group m-3">
    <a [routerLink]="['blog']" class="btn btn-success fs-4">
      تصفح المنشورات
    </a>
    <a [routerLink]="['register']" class="btn btn-primary fs-4">
      التسجيل
    </a>
  </div>
</div>
<div class="b-info">
  <img src="assets/rd.png">
  <div class="desc">
    اقرأ أروع المقالات المدققة علمياً ولغوياً
  </div>
</div>
<div class="b-info">
  <img src="assets/cg.png">
  <div class="desc">
    تصفح العديد من العناوين العلمية واختر ما يناسبك
  </div>
</div>
<div class="b-info">
  <img src="assets/pcl.png">
  <div class="desc">
    قم بكتابة وإرسال مقالاتك ليتم تدقيقها ونشرها
  </div>
</div>
<app-footer></app-footer>
