<div class="text-light overflow-hidden rounded">
  <input
      [formControl]="searchControl"
      class="p-2 rounded border w-100" type="search"
      placeholder="Search..." id="search">

  <div class="row fs-4 p-1 mt-1 border-bottom" *ngFor="let user of users | async">
    <div class="col-sm-4 col-md-3 col-lg-3">
      <img class="user-image" [src]="user.imageSrc" [alt]="user.name">
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3">
      Name: <span>{{user.name}}</span>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3">
      Last Seen: <span>{{user.lastSeen}}</span>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <button class="btn btn-success" (click)="goTo('blog/users/'+user.id)">Visit Profile</button>
    </div>
  </div>

</div>
