<div id="sidebar" [appToggleSideBar]="show">
  <ul class="follow-us text-center">
    <li class="fs-4">social media</li> <br>
    <li>
      <a target="_blank" class="text-light" href="https://www.facebook.com/DeveloperMuaaz/">
        <fa-icon [icon]="facebook" size="2x"></fa-icon>
      </a>
    </li>
    <li>
      <a target="_blank" class="text-light" href="https://t.me/muaazaltahan">
        <fa-icon [icon]="telegram" size="2x"></fa-icon>
      </a>
    </li>
    <li>
      <a target="_blank" class="text-light" href="https://www.instagram.com/muaaz_al_tahan/">
        <fa-icon [icon]="instagram" size="2x"></fa-icon>
      </a>
    </li>
  </ul>
  <div class="suggested">
    <span>منشورات مقترحة:</span>
    <a href="posts/post">
      <div class="post">
        <div class="p-title">عنوان المنشور</div>
        <div class="p-image">
          <img src="assets/logo.png">
        </div>
      </div>
    </a>
    <a href="posts/post">
      <div class="post">
        <div class="p-title">عنوان المنشور</div>
        <div class="p-image">
          <img src="assets/logo.png">
        </div>
      </div>
    </a>
  </div>
</div>
