<div id="sidebar" [appToggleSideBar]="show">
  <ul class="follow-us text-center mt-2">
    <li>
      <a target="_blank" class="text-light" href="https://www.facebook.com/DeveloperMuaaz/">
        <fa-icon [icon]="facebook" size="2x"></fa-icon>
      </a>
    </li>
    <li>
      <a target="_blank" class="text-light" href="https://t.me/muaazaltahan">
        <fa-icon [icon]="telegram" size="2x"></fa-icon>
      </a>
    </li>
    <li>
      <a target="_blank" class="text-light" href="https://www.instagram.com/muaaz_al_tahan/">
        <fa-icon [icon]="instagram" size="2x"></fa-icon>
      </a>
    </li>
    <li>
      <a target="_blank" class="text-light" href="https://www.github.com/muaazaltahan/">
        <fa-icon [icon]="github" size="2x"></fa-icon>
      </a>
    </li>
  </ul>
  <div class="w-100 mt-2 text-dark">
    <div class="text-center bg-light fs-5 p-1">Take a look at my other projects</div>
    <div class="border rounded p-1 m-1 fs-6 text-light">
      Project: Quiz App <br>
      Description: A simple quiz front end application by angular. <br>
      <div class="text-center">
        <a href="https://github.com/muaazaltahan/quiz-app" target="_blank">
          Link On Github
          <fa-icon [icon]="github" size="lg"></fa-icon>
        </a>
      </div>
    </div>
    <div class="border rounded p-1 m-1 fs-6 text-light">
      Project: Blog <br>
      Description: The pure version of this blog (without angular).<br>
      <div class="text-center">
        <a href="https://github.com/muaazaltahan/blog" target="_blank">
          Link On Github
          <fa-icon [icon]="github" size="lg"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
