<div class="w-100 bg-success text-light fs-4 rounded p-1">Posts</div>
<div class="posts">
  <div *ngFor="let post of posts | async" class="post mt-5 text-light border rounded">
    <div class="p-title fs-4">
      <a [routerLink]="['/blog/posts/' + post.id]">{{post.title}}</a>
    </div>
    <div class="p-image">
      <img class="w-50 rounded" [src]="post.imageSrc">
    </div>
    <div class="p-cont fs-6">
      {{post.content}}
    </div>
    <div class="p-category fs-6">
      <a class="p-1" *ngFor="let category of post.categories" [routerLink]="[category]">{{category}}</a>
    </div>
    <div class="p-date fs-6">
      {{post.date}}
    </div>
  </div>
</div>
