.posts {
  width: 100%;
  text-align: center;
  .post {
    margin: 30px auto;
    display: grid;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #fff;
    grid:
      "image image title title title"
      "image image content content content"
      "image image content content content"
      "category category date author author";
    .p-title {
      font-size: 22px;
      grid-area: title;
    }
    .p-image {
      grid-area: image;
      max-width: 300px;
      img {
        width: 100%;
      }
    }
    .p-cont {
      font-size: 20px;
      grid-area: content;
    }
    .p-category {
      grid-area: category;
    }
    .p-date {
      grid-area: date;
    }
    .p-author {
      grid-area: author;
    }
    .p-category,
    .p-author,
    .p-date {
      font-size: 18px;
    }
  }
}
