<div class="posts">
  <div class="post">
    <div class="p-title">
      <a href="posts/post">عنوان المنشور</a>
    </div>
    <div class="p-image">
      <img src="assets/logo.png" alt="صورة من المنشور">
    </div>
    <div class="p-cont">
      محتوى المنشور محتوى المنشور محتوى المنشور محتوى المنشور...
    </div>
    <div class="p-category">
      <a href="categories/category">تصنيف المنشور</a>
    </div>
    <div class="p-date">
      6-6-2021
    </div>
    <div class="p-author">
      <a href="users/otheruser">الناشر</a>
    </div>
  </div>
  <div class="post">
    <div class="p-title">
      <a href="posts/post">عنوان المنشور</a>
    </div>
    <div class="p-image">
      <img src="assets/logo.png" alt="صورة من المنشور">
    </div>
    <div class="p-cont">
      محتوى المنشور محتوى المنشور محتوى المنشور محتوى المنشور...
    </div>
    <div class="p-category">
      <a href="categories/category">تصنيف المنشور</a>
    </div>
    <div class="p-date">
      6-6-2021
    </div>
    <div class="p-author">
      <a href="users/otheruser">الناشر</a>
    </div>
  </div>
  <div class="post">
    <div class="p-title">
      <a href="posts/post">عنوان المنشور</a>
    </div>
    <div class="p-image">
      <img src="assets/logo.png" alt="صورة من المنشور">
    </div>
    <div class="p-cont">
      محتوى المنشور محتوى المنشور محتوى المنشور محتوى المنشور...
    </div>
    <div class="p-category">
      <a href="categories/category">تصنيف المنشور</a>
    </div>
    <div class="p-date">
      6-6-2021
    </div>
    <div class="p-author">
      <a href="users/otheruser">الناشر</a>
    </div>
  </div>
  <div class="post">
    <div class="p-title">
      <a href="posts/post">عنوان المنشور</a>
    </div>
    <div class="p-image">
      <img src="assets/logo.png" alt="صورة من المنشور">
    </div>
    <div class="p-cont">
      محتوى المنشور محتوى المنشور محتوى المنشور محتوى المنشور...
    </div>
    <div class="p-category">
      <a href="categories/category">تصنيف المنشور</a>
    </div>
    <div class="p-date">
      6-6-2021
    </div>
    <div class="p-author">
      <a href="users/otheruser">الناشر</a>
    </div>
  </div>
  <div class="post">
    <div class="p-title">
      <a href="posts/post">عنوان المنشور</a>
    </div>
    <div class="p-image">
      <img src="assets/logo.png" alt="صورة من المنشور">
    </div>
    <div class="p-cont">
      محتوى المنشور محتوى المنشور محتوى المنشور محتوى المنشور...
    </div>
    <div class="p-category">
      <a href="categories/category">تصنيف المنشور</a>
    </div>
    <div class="p-date">
      6-6-2021
    </div>
    <div class="p-author">
      <a href="users/otheruser">الناشر</a>
    </div>
  </div>
  <div class="post">
    <div class="p-title">
      <a href="posts/post">عنوان المنشور</a>
    </div>
    <div class="p-image">
      <img src="assets/logo.png" alt="صورة من المنشور">
    </div>
    <div class="p-cont">
      محتوى المنشور محتوى المنشور محتوى المنشور محتوى المنشور...
    </div>
    <div class="p-category">
      <a href="categories/category">تصنيف المنشور</a>
    </div>
    <div class="p-date">
      6-6-2021
    </div>
    <div class="p-author">
      <a href="users/otheruser">الناشر</a>
    </div>
  </div>
  <div class="post">
    <div class="p-title">
      <a href="posts/post">عنوان المنشور</a>
    </div>
    <div class="p-image">
      <img src="assets/logo.png" alt="صورة من المنشور">
    </div>
    <div class="p-cont">
      محتوى المنشور محتوى المنشور محتوى المنشور محتوى المنشور...
    </div>
    <div class="p-category">
      <a href="categories/category">تصنيف المنشور</a>
    </div>
    <div class="p-date">
      6-6-2021
    </div>
    <div class="p-author">
      <a href="users/otheruser">الناشر</a>
    </div>
  </div>
</div>
