<div class="posts">
  <div class="post" *ngFor="let post of posts | async">
    <div class="p-title">
      <a (click)="goTo('blog/posts/' + post.id.toString(), post)">{{post.title}}</a>
    </div>
    <div class="p-image">
      <img [src]="post.imageSrc" [alt]="post.title">
    </div>
    <div class="p-cont">
      {{post.content | slice:0:80}}
    </div>
    <div class="p-category">
      <a *ngFor="let category of post.categories" class="p-1 m-1 text-light fw-bold">{{category}}</a>
    </div>
    <div class="p-date">
      {{post.date}}
    </div>
    <app-author class="p-author d-block" [author]="post.author"></app-author>
  </div>
</div>
