<div class="btn-group position-absolute top-0 w-100">
  <div routerLink="/" class="btn btn-secondary">
    Return To Main Page
  </div>
  <div routerLink="/blog" class="btn btn-secondary">
    Return To Blog
  </div>
</div>
<div class="container">
  <img class="w-100" src="assets/banner2.png">
</div>
<div class="container">
  <div class="a-image">
    <img src="assets/me.jpg">
  </div>
  <div class="a-desc">
    <div class="a-name">Muaaz Altahan</div>
    <ul class="text-start">
      <li>مسلم</li>
      <li>Angular Front End Developer</li>
      <li>العمر: 18 عاماً</li>
      <li>جاهز لإنشاء أي مشروع يتبع القواعد الإسلامية</li>
    </ul>
  </div>
  <div class="a-contact">
    <div class="contact">
      <a target="_blank" href="https://www.facebook.com/DeveloperMuaaz/">
        <fa-icon [icon]="facebook" size="lg"></fa-icon>
      </a>
    </div>
    <div class="contact">
      <a target="_blank" href="https://t.me/muaazaltahan">
        <fa-icon [icon]="telegram" size="lg"></fa-icon>
      </a>
    </div>
    <div class="contact">
      <a target="_blank" href="https://www.instagram.com/muaaz_al_tahan/">
        <fa-icon [icon]="instagram" size="lg"></fa-icon>
      </a>
    </div>
    <div class="contact">
      <a target="_blank" href="https://www.github.com/muaazaltahan/">
        <fa-icon [icon]="github" size="lg"></fa-icon>
      </a>
    </div>
  </div>
</div>
