<div class="btn-group w-100">
  <div routerLink="/" class="btn btn-secondary">
    Return To Main Page
  </div>
  <div routerLink="/blog" class="btn btn-secondary">
    Return To Blog
  </div>
</div>
<div class="container">
  <div class="a-image">
    <img src="assets/me.jpg">
  </div>
  <div class="a-desc">
    <div class="a-name">Muaaz Altahan</div>
    <ul class="text-start">
      <li>Muslim</li>
      <li>Angular Front End Developer</li>
      <li>Age: 17 years</li>
      <li>Ready to do any work follows the islamic rules</li>
    </ul>
  </div>
  <div class="a-contact">
    <div class="contact">
      <a target="_blank" href="https://www.facebook.com/DeveloperMuaaz/">
        <fa-icon [icon]="facebook" size="lg"></fa-icon>
      </a>
    </div>
    <div class="contact">
      <a target="_blank" href="https://t.me/muaazaltahan">
        <fa-icon [icon]="telegram" size="lg"></fa-icon>
      </a>
    </div>
    <div class="contact">
      <a target="_blank" href="https://www.instagram.com/muaaz_al_tahan/">
        <fa-icon [icon]="instagram" size="lg"></fa-icon>
      </a>
    </div>
    <div class="contact">
      <a target="_blank" href="https://www.github.com/muaazaltahan/">
        <fa-icon [icon]="github" size="lg"></fa-icon>
      </a>
    </div>
  </div>
</div>
