<ng-container *ngIf="selectedPost | async as _selectedPost">
  <div class="post text-light">
    <div class="p-title fs-3">{{_selectedPost.title}}</div>
    <div class="p-image">
      <img [src]="_selectedPost.imageSrc" class="w-50">
    </div>
    <div class="p-cont fs-5">
      {{_selectedPost.content}}
    </div>
    <div class="p-category float-start fs-6">
      <a class="p-1" href="categories/category" *ngFor="let ct of _selectedPost.categories">
        {{ct}}
      </a>
    </div>
    <div class="p-date float-end fs-6">
      {{_selectedPost.date}}
    </div>
    <app-author [author]="_selectedPost.author" class="fs-5"></app-author>
  </div>
  <div class="info">Comments</div>
  <div class="comments text-light">
    <app-comment *ngFor="let comment of _selectedPost.comments" [comment]="comment"></app-comment>
  </div>
</ng-container>
