<div class="btn-group fixed-top rounded-0">
  <div class="btn btn-secondary rounded-0" (click)="goTo('blog')">
    <fa-icon [icon]="home" size="2x"></fa-icon>
  </div>
  <div class="btn btn-secondary" (click)="goTo('account')">
    <fa-icon [icon]="user" size="2x"></fa-icon>
  </div>
  <div class="btn btn-secondary" (click)="goTo('blog/users')">
    <fa-icon [icon]="users" size="2x"></fa-icon>
  </div>
  <div class="btn btn-secondary" (click)="goTo('add-post')">
    <fa-icon [icon]="addPost" size="2x"></fa-icon>
  </div>
  <div class="btn btn-secondary rounded-0" (click)="goTo('about')">
    <fa-icon [icon]="about" size="2x"></fa-icon>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
