<div class="btn-group fixed-top">
  <div class="btn btn-secondary" (click)="showSidebar = !showSidebar">
    <fa-icon [icon]="list" size="2x"></fa-icon>
  </div>
  <div class="btn btn-secondary" (click)="goTo('')">
    <fa-icon [icon]="home" size="2x"></fa-icon>
  </div>
  <div class="btn btn-secondary" (click)="goTo('account')">
    <fa-icon [icon]="user" size="2x"></fa-icon>
  </div>
  <div class="btn btn-secondary" (click)="goTo('settings')">
    <fa-icon [icon]="settings" size="2x"></fa-icon>
  </div>
  <div class="btn btn-secondary" (click)="goTo('about')">
    <fa-icon [icon]="about" size="2x"></fa-icon>
  </div>
  <div class="btn btn-secondary" (click)="goTo('add-post')">
    <fa-icon [icon]="addPost" size="2x"></fa-icon>
  </div>
</div>
<div class="info">
  <input type="search" placeholder="البحث" id="search">
  <button>
    <fa-icon [icon]="search" size="lg" ></fa-icon>
  </button>
</div>
<app-sidebar [show]="showSidebar"></app-sidebar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
